@import url("./Fonts/fonts.css");

:root {
  /* Fonts */
  --calculator-font: Retro-reg;
  --header-font: Ubuntu-reg;

  /* Calculator */
  --display-color: 1DD977;
  --primary-color: EEDFDF;
  --seconadry-color: 178E05;
}
