@import url("./Fonts/fonts.css");

:root {
  /* Fonts */
  --calculator-font: Retro-reg;
  --header-font: Ubuntu-reg;

  /* Calculator */
  --display-color: #1DD977;
  --primary-btn-color: #EEDFDF;
  --seconadry-btn-color: #178E05;
}
